html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(HERO.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.blackContainer {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: #101010;
  line-height: 30px;
  padding: 40px;
  color: white;
}

.whiteContainer {
  z-index: 3;
  position: absolute;
  top: 200vh;
  background: white;
  line-height: 30px;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.left {
  width: 55%;
  height: 100%;
  text-align: right;
  float: left;
  font-size: 30px;
  line-height: 40px;
  display: flex;
  align-items: center;
  padding-top: 200px;
}

.right {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 35%;
  height: 100%;
  float: right;
  display: block;
}

.mid {
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 10px;
  position: absolute;
  z-index: 5;
  top: 40vh;
  left: 10vh;
  margin: 0;
  padding: 0;
}

.whiteContainer video {
  width: 100%;
  height: 100% auto;
  z-index: 0;
  margin: 0;
  padding: 0;
  filter: brightness(50%);
}
